html, body, #app {
    margin: 0;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

#how-to {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#how-to > h1 {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    background: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    display: inline-block;
    padding: 10px;
    font-size: 2em;
    letter-spacing: -0.1em;
}

#how-to > p {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3em;
    margin-top: 10px;
    text-align: center;
}

#calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

#calculator > h1 {
    align-self: start;
    display: inline;
    font-family: 'NanumSquare', sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}

div.expression {
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

div.expression svg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

svg.ok {
    fill: #4caf50;
}

svg.error {
    fill: #f44336;
}

input[name="expression"], div.result {
    width: calc(100% - 20px);
    margin: 10px;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.05em;
    text-align: center;
    background: white;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

label.error {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

.result b {
    font-weight: unset;
    color: #4caf50;
}

ul.result {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    width: 50%;
    list-style: none;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

ul.result > li {
    display: flex;
    animation: list-add 1s;
}

ul.result > li > header {
    display: inline;
}

ul.result > li > section {
    flex: 1;
    display: inline;
    font-family: 'Montserrat', sans-serif;
}

@keyframes list-add {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: none;
        opacity: 1;
    }
}